@import url(main.css);

.hero-img {
    width: 100%;
    display: none;
}

.thumbnail-img {
    width: 12rem;   
}

#continue-watching-items {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    text-align: center;
}

#rec-items {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    text-align: center;
}

.selected {
    display: block;
}

#continue-watching-stack {
    margin-block: 2em;
}