#landing-page {
    margin-top: 0;
}

#hero-section {
    background-image: url(/images/hero-img.png);
    height: min(100dvh, 60rem);
    background-position: center;
    background-size: cover;
    background-color: black;
}

#content-section {
    width: 80%;
    margin: auto;
}

#continue-watching-stack {
    margin-block: 2em;
}