main {
    min-height: 70vh;
    display: flex;
    gap: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input:focus {
    outline: 0;
    opacity: 1;
}

#login-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 25rem;
    gap: 1em;
}
