@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;
}

/* ----------------------------------------------------------Basic element requirements---------------------------------------------------------------- */

body {
    background-color: antiquewhite;
}

h2 {
    margin-bottom: 1em;
}

a {
    color: cornflowerblue;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.form-a {
    color: cornflowerblue;
}

main {
    margin-top: 5rem;
    margin-bottom: 2em;
}

button {
    padding-block: 0.5em;
    padding-inline: 1em;
    cursor: pointer;
    background-color: cornflowerblue;
    border: 1px solid black;
    border-radius: 0.5em;
    transition: box-shadow 0.3s ease;
    width: fit-content;
    margin: auto;
}

button:hover {
    box-shadow: 0px 0px 10px 3px rgb(64, 64, 64);
}

select {
    padding: 0.5em;
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0.758);
    border-radius: 0.5em;
}

select,
::picker(select) {
    appearance: base-select;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
}

select::picker-icon {
    color: #636363;
    transition: 0.4s rotate;
}

select:open::picker-icon {
    rotate: 180deg;
}

input {
    padding-inline: 0.8em;
    padding-block: 0.4em;
    border: 1px solid rgba(0, 0, 0, 0.057);
    border-radius: 0.5em;
}

input:focus {
    outline: 0;
}

textarea {
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.057);
    border-radius: 0.5em;
    resize: none;
}

textarea:focus {
    outline: 0;
}

section {
    margin-bottom: 2rem;
}

ul {
    list-style-type: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* margin-inline: 2rem; */
    align-items: center;
    padding-block: 1rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

/* ----------------------------------------------------------Common functional elements across the site---------------------------------------------------------- */


.hidden {
    display: none;
}

.selected {
    display: block;
}

.video-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    text-align: center;
    margin-block: 2rem;
}

/* ----------------------------------------------------------Same elements used across the site---------------------------------------------------------------- */

#nav-search {
    display: flex;
    gap: 0.5em;
    justify-content: space-around;
    align-items: center;
    padding-right: 2em;
    padding-left: 1em;
    padding-block: 0.5em;
    background-color: white;
    /* border: 1px solid rgba(0, 0, 0, 0.243); */
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.226);
    border-radius: 2em;
}

#nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

#nav-links > li > a {
    text-decoration: none;
    cursor: pointer;
}

#nav-links > li > a:hover {
    text-decoration: underline;
}

#nav-search-q {
    border: none;
    background-color: inherit;
    font-size: 1rem;
}

#nav-search-q:focus {
    outline: none;
}

#cat-nav {
    position: relative;
}

#cat-list {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 12rem;
    padding-inline: 2em;
    padding-block: 1em;
    border-radius: 0.2em;
    background-color: rgba(245, 245, 245, 0.9);
}

.video-tile {
    position: relative;
    padding: 1em;
    overflow: hidden;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    border-radius: 1em;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.226);
    /* background-image: url(/images/chaavaposter.jpg); */
    background-position: center;
    background-size: cover;
    min-height: 22rem;
    transition: transform 0.2s ease-in;
}

.video-tile:hover {
    transform: scale(1.01);
}

.video-prog {
    width: 100%;
    position: absolute;
    min-height: 1rem;
    bottom: -4px;
    left: 0;
}

/* .video-tile-thumb {
    max-width: 100%;
    height: auto;
} */

.fav-btn {
    background-color: transparent;
    border: none;
}

.fav-btn:hover {
    box-shadow: none;
}