input::file-selector-button {
    padding-block: 0.5em;
    padding-inline: 1em;
    cursor: pointer;
    background-color: cornflowerblue;
    border: 1px solid black;
    border-radius: 0.5em;
    transition: box-shadow 0.3s ease;
    width: fit-content;
}

#upload-form-title {
    font-size: 3rem;
    text-align: center;
    margin-top: 8rem;
}

#upload-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 7rem;
    width: 50%;
    margin: auto;
}

#upload-form > input, textarea {
    padding: 0.5em;
}
